@import '../node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

.general-contractors__home--section-header {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.general-contractors__home--header {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.general-contractors__home--logo {
  padding: 15px 10px;
  margin: 0;
  background-color: #213977;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.general-contractors__home--icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.general-contractors__home--facebook-icon {
  color: #ffffff;
  background-color: #3a5998;
  border-radius: 50%;
  margin-right: 5px;
  width: 32px;
  height: 32px;
}

.general-contractors__home--business-icon {
  background-color: #477cdf;
  color: #ffffff;
  padding: 4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.general-contractors__header--phone,
.general-contractors__home--hero-button {
  background-color: #005f9c;
  width: 200px;
  height: 60px;
  color: #ffffff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
  &:hover,
  &:hover {
    background-color: #0069ad;
    text-decoration: none;
    color: #ffffff;
  }
}

.general-contractors__header--phone-number {
  padding: 10px 7px;
  font-size: 20px;
  text-decoration: none;
  font-family: Lato;
  color: inherit;
}

.general-contractors__header--phone-svg {
  margin-left: 10px;
}

.general-contractors__header--desc {
  font-weight: bold;
  font-size: 16px;
  transition: opacity 1s ease-in-out 0s;
  margin: 8px 0;
  padding: 2px 0;
}

.general-contractors__header--pages {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.general-contractors__navigation--menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}
.general-contractors__navigation-text {
  font-size: 14px;
  margin: 0;
  padding: 0 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.general-contractors__home--hero-box {
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 50px 20px;
  font-size: 16px;
  max-width: 600px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 230px;
  left: -33.2%;
}

.general-contractors__home--hero-desc {
  font-size: 40px;
  font-family: 'Josefin Sans';
  color: #ffffff;
  text-align: center;
}

.general-contractors__home--hero-button {
  display: flex;
  justify-content: center;
}

.general-contractors__home--good-contractors {
  margin: 0;
  padding: 100px 65px;
  width: auto;
}

.general-contractors__home--picture-video {
  padding: 100px 65px;
}
.general-contractors__home--picvid-box {
  display: flex;
  flex-direction: row;
  max-width: 1160px;
  @media (max-width: 1050px) {
    display: flex;
    flex-direction: column;
  }
}

.general-contractors__home--video-box {
  width: calc(100% - 0px);
  height: 250px;
  margin: 0 0 10px;
  padding: 0;
  min-width: 25px;
  padding-left: 1.5%;
}

.general-contractors__home--testimonial {
  margin: 0;
  padding: 50px 30px;
  width: auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 11px 0;
}

.general-contractors__home--testimonial-heading {
  text-align: center;
  text-transform: uppercase;
  color: #213977;
  font-family: 'Josefin Sans';
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
}

.general-contractors__home--testimonial-paragraph {
  line-height: 32px;
}

.general-contractors__home--testimonial-span {
  color: #005f9c;
  font-weight: bold;
}

.general-contractors__home--service {
  background: linear-gradient(90deg, #005f9c 0, #213977 100%);
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
}

.general-contractors__home--service-wrapper {
  padding: 250px 65px;
  margin: 0;
  width: auto;
  display: flex;
  flex-direction: row;
  @media (max-width: 1050px) {
    display: flex;
    flex-direction: column;
  }
}

.general-contractors__home--service-text {
  padding-right: 1.5%;
  margin-top: 50px;
}

.general-contractors__home--service-heading {
  color: #ffffff;
  font-size: 28px;
  font-family: 'Josefin Sans';
  font-weight: 700;
}

.general-contractors__home--choose-us {
  padding: 100px 65px;
  margin: -100px auto 0 !important;
}

.general-contractors__home--choose-wrapper {
  max-width: 1160px;
  margin: 0 auto;
}
.general-contractors__home--choose-heading {
  text-align: center;
  color: #213977;
  font-weight: 700;
  font-family: 'Josefin Sans';
}

.general-contractors__home--choose-paragraph {
  margin: 0 60px;
  line-height: 2;
}

.general-contractors__home--choose-text {
  font-weight: 400;
  color: #333;
  font-family: Lato;
  text-align: center;
}

.footer {
  padding: 5rem 0rem;
  background: #164682;
}

.footer-text {
  padding: 0 45px;
  text-align: center;
}

.nav {
  padding: 2rem 4rem;
  .nav-item {
    text-transform: uppercase;
  }

  .nav-link {
    color: #fff;
    text-decoration: underline;
  }
}

.footer-text {
  color: #fff;
  padding: 2rem 4rem;
  font-size: small;
}

.contacts {
  color: #fff;
  padding: 2rem 4rem;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: rgba(255, 255, 255, 0.1);
  p {
    text-align: center;
  }
}

.card-list {
  display: flex;
  justify-content: center;
  .card-item {
    padding-bottom: 5px;
    padding-right: 5px;
    .logo-bank {
      display: block;
      width: 56px;
      height: 37px;
    }
  }
}
